@use "variable" as *;
@use "svg" as *;

@mixin layout-list-details {
    position: relative;
    background-color: rgba(#fff, 0.9);
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: inherit;
    margin-top: 2em;
    div {
        position: relative;
        font-size: inherit;
        grid-column: span 2;
        display: grid;
        grid-template-columns: subgrid;
        gap: 0 2em;
        padding-block: 0.8em;
        &:not(:last-of-type) {
            border-bottom: 1px solid #f1f1f2;
        }
        &:last-of-type {
            border-bottom: 2px solid $baseBlack;
        }
        dt {
            font-size: FZ(14);
            display: grid;
            place-content: center;
            padding: 0.5em 2em;
        }
        dd {
            align-self: center;
            font-size: FZ(14);
            display: flex;
            flex-direction: column;
            letter-spacing: 0.04em;
            span {
                line-height: 2em;
            }
            p {
                font-size: 1em;
                line-height: 2em;
                a {
                    font-size: 1em;
                }
            }
        }
    }
}
