@use "variable" as *;
@use "svg" as *;
.containerSdgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    padding: 3em 2em 5em;
    h2 {
        font-size: FZ(18);
        font-weight: 600;
        letter-spacing: 0.08em;
    }
    .itemLogo {
        font-size: inherit;
        max-width: 49.3rem;
        margin-top: 1em;
    }
    ul {
        position: relative;
        max-width: 80rem;
        padding-inline: 2em;
        font-size: inherit;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0 1.6em;
        margin-top: 1em;
    }
    @include pc {
        .itemLogo {
            opacity: 0;
            translate: 0 10rem;
            transition: 0.8s ease-out;
        }
        ul {
            li {
                opacity: 0;
                translate: 0 10rem;
                transition: 0.8s ease-out;
            }
        }
        &.is-active {
            .itemLogo {
                translate: 0;
                opacity: 1;
            }
            ul {
                li {
                    opacity: 1;
                    translate: 0;
                    @for $i from 1 through 5 {
                        &:nth-of-type(#{$i}) {
                            transition-delay: #{($i * 0.15)}s;
                        }
                    }
                }
            }
        }
    }
}
