@use "variable" as *;
@use "svg" as *;
@use "sass:color";

.containerFooterHead,
.containerFooterFoot {
    padding-inline: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > article {
        max-width: $articleMaxWidth;
        padding-inline: 2em;
        @include sp {
            padding-inline: 4vw;
        }
    }
}
.containerFooterHead {
    background-color: #3f8941;
    padding: 4em 2em 3em;
    @include sp {
        padding: 6vw 4vw;
    }
    & > article {
        display: grid;
        grid-template-columns: auto 1fr;
        @include sp {
            grid-template-columns: unset;
            grid-auto-flow: row;
        }
        .boxContents {
            display: flex;
            flex-direction: column;
            grid-row: span 2;
            max-width: 34rem;
            color: $baseWhite;
            font-size: inherit;
            h2 {
                border: 1px solid $baseWhite;
                font-size: FZ(14);
                display: grid;
                place-content: center;
                padding-block: 0.5em;
                font-weight: 500;
                letter-spacing: 0.08em;
            }
            a {
                font-size: FZ(36);
                font-weight: 700;
                align-self: center;
                margin: 0.2em 0 0.2em;
                &::before {
                    content: "TEL";
                    font-size: 0.85em;
                    margin-right: 0.5em;
                }
            }
            address {
                font-size: FZ(16);
                font-weight: 500;
                display: flex;
                gap: 0 0.5em;
                margin-top: 0.3em;
                letter-spacing: 0.04em;
            }
        }
        .navTop {
            align-self: start;
            justify-self: end;
            font-size: inherit;
            display: flex;
            gap: 0 1em;
            @include sp {
                flex-direction: column;
                justify-self: stretch;
                gap: 2vw 0;
                margin-top: 8vw;
            }
            .itemLink {
                border: 1px solid $baseWhite;
                background-color: $baseBlack;
                color: $baseWhite;
                font-size: FZ(16);
                padding: 0.5em 1em 0.5em 2.4em;
                transition: 0.3s ease-out;
                @include sp {
                    padding: 2vw 10vw;
                    font-size: FZ(18);
                }
                span {
                    transition: 0.3s ease-out;
                    font-weight: 500;
                    letter-spacing: 0.08em;
                    position: relative;
                    @include sp {
                        display: flex;
                        justify-content: center;
                    }
                    &::before {
                        transition: 0.3s ease-out;
                        content: "";
                        position: absolute;
                        top: 50%;
                        translate: 0 -50%;
                        right: calc(100% + 0.5em);
                    }
                }
                @include hover {
                    background-color: $baseWhite;
                    span {
                        color: $baseBlack;
                    }
                    &.form {
                        span {
                            &::before {
                                @include svg-icon-mail("1b1b51");
                            }
                        }
                    }
                    &.access {
                        span {
                            &::before {
                                @include svg-icon-map("1b1b51");
                            }
                        }
                    }
                }
                &.form {
                    span {
                        &::before {
                            width: 1em;
                            top: 52%;
                            @include svg-icon-mail("ffffff");
                        }
                    }
                }
                &.access {
                    span {
                        &::before {
                            width: 0.9em;
                            top: 52%;
                            @include svg-icon-map("ffffff");
                        }
                    }
                }
            }
        }
        .navBottom {
            align-self: end;
            justify-self: end;
            font-size: inherit;
            display: flex;
            gap: 0 2em;
            @include sp {
                display: none;
            }
            .itemLink {
                color: $baseWhite;
                font-size: FZ(16);
                font-weight: 500;
                letter-spacing: 0.04em;
                transition: 0.3s ease-out;
                @include hover {
                    color: color.scale($baseWhite, $alpha: -60%);
                }
            }
        }
    }
}
.containerFooterFoot {
    padding: 2em;
    @include sp {
        padding: 6vw 4vw;
    }
    & > article {
        gap: 3em 0;
        display: flex;
        flex-direction: column;
        nav {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 4em;
            @include sp {
                grid-template-columns: unset;
                grid-auto-flow: row;
                gap: 4vw 0;
            }
        }
        .copyright {
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 0.04em;
        }
    }
}
