@use "variable" as *;
@use "svg" as *;
@use "sass:color";

.containerHeader {
    position: relative;
    font-size: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.8em 2em;
    @include sp {
        z-index: 2;
    }
    & > article {
        max-width: $articleMaxWidth;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include sp {
            justify-content: center;
        }
        @include pc {
            opacity: 0;
            transition: 0.5s ease-out;
            translate: 0 -5rem;
            &.is-active {
                opacity: 1;
                translate: 0;
            }
        }
        .boxLogo {
            max-width: 30rem;
            transition: 0.3s ease-out;
            @include sp {
                width: 65vw;
            }
            .itemLogo {
                width: 100%;
            }
            @include hover {
                opacity: 0.4;
            }
        }
        nav {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0 2em;
            font-size: inherit;
            .itemLink {
                font-size: FZ(16);
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: 600;
                letter-spacing: 0.08em;
                transition: 0.3s ease-out;
                span {
                    text-transform: capitalize;
                }
                @include hover {
                    color: color.scale($baseBlack, $alpha: -60%);
                }
                @include sp {
                    color: $baseWhite;
                    font-size: FZ(18);
                }
            }
            .itemLinkForm {
                background-color: $baseBlack;
                color: $baseWhite;
                font-size: FZ(16);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.7em 1em;
                font-weight: 500;
                letter-spacing: 0.12em;
                transition: 0.3s ease-out;
                @include hover {
                    background-color: color.scale($baseBlack, $alpha: -60%);
                    color: $baseBlack;
                }
            }
            @include sp {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                width: 100dvw;
                height: 100vh;
                height: 100dvh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(#000, 0.6);
                gap: 10vw 0;
                translate: 100vw;
                transition: 0.3s ease-out;
                opacity: 0;
                &.is-open {
                    translate: 0;
                    opacity: 1;
                }
                &.closing {
                    translate: 100vw;
                    transition: 0.5s ease-out;
                }
            }
        }
    }
}
.hamburgerButton {
    position: fixed;
    top: 2vw;
    right: 2vw;
    width: 10vw;
    aspect-ratio: 1;

    // border: solid 1px #000000;
    z-index: 100;
    display: none;
    @include sp {
        display: block;
        background-color: #116aa2;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 2px;
        background-color: #ffffff;
        transition: 0.3s ease-out;
        &:nth-of-type(1) {
            translate: -50% calc(-50% - 2vw);
        }
        &:nth-of-type(2) {
            translate: -50% -50%;
        }
        &:nth-of-type(3) {
            translate: -50% calc(-50% + 2vw);
        }
    }
    &.is-open {
        span {
            transition: 0.3s ease-out;
            &:nth-of-type(1) {
                translate: -50% -50%;
                rotate: 45deg;
            }
            &:nth-of-type(2) {
                translate: 150% -50%;
                opacity: 0;
            }
            &:nth-of-type(3) {
                translate: -50% -50%;
                rotate: -45deg;
            }
        }
    }
}
