@use "../../variable" as *;
@use "../../svg" as *;
@use "../../mixin" as *;
.contentsDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0 5em;
    background-color: #f1f1f2;
    article {
        display: flex;
        flex-direction: column;
        max-width: $articleMaxWidth;
        align-items: center;
        padding-inline: 2em;
        h3 {
            font-size: FZ(24);
            font-weight: 600;
            letter-spacing: 0.08em;
            position: relative;
            color: #333;
            padding-bottom: 0.8em;
            align-self: flex-start;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 2em;
                background-color: #333;
            }
        }
        dl {
            @include layout-list-details;
        }
        .itemLink {
            font-size: FZ(18);
            position: relative;
            color: $baseWhite;
            font-weight: 500;
            font-style: italic;
            display: grid;
            letter-spacing: 0.08em;
            place-content: center;
            padding-block: 0.8em;
            margin-top: 5em;
            z-index: +1;
            width: 22em;
            transition: 0.3s ease-out;
            &::before {
                transition: 0.3s ease-out;
                border: 2px solid $baseBlack;
                content: "";
                position: absolute;
                inset: 0;
                background-color: $baseBlack;
                z-index: -1;
                transform: skewX(-15deg);
            }
            @include hover {
                color: $baseBlack;
                &::before {
                    background-color: #fff;
                }
            }
        }
    }
}
