@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;

.carVariation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2em;
    padding-top: 2em;
    @include sp {
        padding: 6vw 4vw;
    }
    .wrapH2 {
        width: 100%;
        max-width: $articleMaxWidth;
        font-size: inherit;
        padding-inline: 2em;
        @include sp {
            padding-inline: unset;
        }
        h2 {
            background-color: $baseBlack;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            padding-block: 1.4em;
            gap: 0.3em 0;
            font-weight: 600;
            letter-spacing: 0.04em;
            font-size: FZ(18);
            span {
                font-size: 1.2em;
            }
        }
        @include pc {
            h2 {
                opacity: 0;
                translate: 0 10rem;
                transition: 0.5s ease-out;
            }
            &.is-active {
                h2 {
                    opacity: 1;
                    translate: 0;
                }
            }
        }
    }
    & > ul {
        width: 100%;
        max-width: $articleMaxWidth;
        font-size: inherit;
        padding-inline: 2em;
        display: flex;
        flex-direction: column;
        gap: 2em 0;
        margin-top: 5em;
        margin-bottom: 5em;
        @include sp {
            margin-top: 8vw;
            margin-bottom: 8vw;
            gap: 16vw 0;
            padding-inline: unset;
        }
    }
}
.boxVariation {
    position: relative;
    font-size: inherit;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0 4em;
    @include sp {
        grid-template-columns: unset;
        grid-auto-flow: row;
    }
    h3 {
        grid-column: span 2;
        color: $fontBlack;
        font-size: FZ(18);
        font-weight: 600;
        letter-spacing: 0.12em;
        border-bottom: 2px solid $fontBlack;
        padding-bottom: 0.5em;
        @include sp {
            grid-column: unset;
        }
    }
    .wrapImage {
        position: relative;
        font-size: inherit;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 0 2em;
        padding-block: 3em;
        @include sp {
            grid-auto-flow: row;
            grid-template-columns: unset;
            gap: 4vw 0;
        }
    }
    @include pc {
        transition: 0.5s ease-out;
        translate: 0 5rem;
        .itemImage {
            opacity: 0;
            translate: 0 20rem;
            transition: 0.8s ease-out;
        }
        .sizeDetails {
            opacity: 0;
            translate: 0 20rem;
            transition: 0.8s ease-out;
        }
        &.is-active {
            translate: 0;
            .itemImage {
                opacity: 1;
                translate: 0;
                &:last-of-type {
                    transition-delay: 0.2s;
                }
            }
            .sizeDetails {
                opacity: 1;
                translate: 0;
                transition-delay: 0.5s;
            }
        }
    }
}
.sizeDetails {
    display: grid;
    position: relative;
    font-size: inherit;
    grid-template-columns: auto 1fr;
    width: fit-content;
    align-self: center;
    color: $fontBlack;
    @include sp {
        width: 100%;
        justify-content: center;
    }
    & > div {
        grid-column: span 2;
        display: grid;
        grid-template-columns: subgrid;
        font-size: inherit;
        border-top: 1px solid $fontBlack;
        padding: 1em 3em 1em 1em;
        gap: 0 2em;
        @include sp {
            padding: 4vw 4vw 4vw 10vw;
            gap: 0 10vw;
        }
        &:last-of-type {
            border-bottom: 1px solid $fontBlack;
        }
        dt {
            font-size: FZ(24);
            font-weight: 600;
            letter-spacing: 0.08em;
        }
        dd {
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: inherit;
            padding-top: 0.3em;
            gap: 0.3em 0;
            h4 {
                font-size: FZ(19);
                font-weight: 600;
                text-align: right;
            }
            span {
                font-size: FZ(19);
                font-weight: 600;
                &::before {
                    content: "：";
                    margin-inline: 0.3em;
                }
            }
        }
    }
}
